@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*--------- About Page ---------*/
body{
    background-image:url(../about.jpg);
    font-family: 'Josefin Sans', sans-serif;
}
.mem{
    margin-top: 10%;
}
.mem h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
    color: lawngreen;
}

.team{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.team .team_member{
    background: white;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: black;
    position: relative;
}
.team .team_member h3{
    font-family: 'Josefin Sans', sans-serif;
    color: lawngreen;
    font-size: 26px;
    margin-top: 50px;    
}
.team .team_member p.role{
    color: royalblue;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}
.team .team_member .team_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50px;
    transform: translateX();
} 
.team .team_member .team_img img{
    width: 100px;
    height: 100px;
}